@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}
<hgroup class="title">
    <h3>@ViewBag.Title.</h3>
</hgroup>
<div>
    <div class="alert alert-warning" role="alert">
        This account has been locked out, please try again later.
    </div>
</div>

