
@{
    ViewBag.Title = "BecomeSeller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BecomeSeller</h2>



<main id="wt-main" class="wt-main wt-haslayout">
    <div id="wt-sidebarwrapper" class="wt-sidebarwrapper wt-fixednav">
        12321434
    </div>
    <section class="wt-haslayout">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
                <div class="wt-haslayout wt-dbsectionspace"></div>
                <div class="wt-updatall">
                    <i class="ti-announcement"></i>
                    <span>Update all the latest changes made by you, by just clicking on “Save &amp; Continue” button.</span>
                    <a class="wt-btn" href="javascript:void(0);">Save &amp; Update</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"></div>
        </div>
    </section>
    <!-- User Listing End-->
    <!-- User Profile End-->
    
</main>