@model EZWork.WebUI.Models.ActionSellerSkillViewModel

<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 float-left">
    <div class="wt-usersidebaricon">
        <span class="fa fa-cog wt-usersidebardown">
            <i></i>
        </span>
    </div>
    <aside id="wt-sidebar" class="wt-sidebar wt-usersidebar">
        <div class="wt-widget wt-effectiveholder">
            <div class="wt-widgettitle">
                <h2>Skill</h2>
            </div>
            <div class="wt-widgetcontent">
                @using (Html.BeginForm())
                {
                    <fieldset>
                        <div class="form-group">
                            <input type="text" name="Search" class="form-control" placeholder="Search Skill">
                            <a href="javascrip:void(0);" class="wt-searchgbtn"><i class="lnr lnr-magnifier"></i></a>
                        </div>
                    </fieldset>
                }
                <form class="wt-formtheme wt-formsearch">
                    <fieldset>
                        <div class="form-group">
                            <input type="text" name="Search" class="form-control" placeholder="Search Skill">
                            <a href="javascrip:void(0);" class="wt-searchgbtn"><i class="lnr lnr-magnifier"></i></a>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="wt-checkboxholder wt-verticalscrollbar">

                            <span class="wt-checkbox">
                                <input id="wordpress" type="checkbox" name="description" value="company" checked>
                                <label for="wordpress"> WordPress</label>
                            </span>
                            <span class="wt-checkbox">
                                <input id="graphic" type="checkbox" name="description" value="company">
                                <label for="graphic"> Graphic Design</label>
                            </span>
                            <span class="wt-checkbox">
                                <input id="website" type="checkbox" name="description" value="company">
                                <label for="website"> Website Design</label>
                            </span>
                            <span class="wt-checkbox">
                                <input id="article" type="checkbox" name="description" value="company">
                                <label for="article"> Article Writing</label>
                            </span>
                            <span class="wt-checkbox">
                                <input id="software" type="checkbox" name="description" value="company">
                                <label for="software"> Software Architecture</label>
                            </span>
                            <span class="wt-checkbox">
                                <input id="wordpress1" type="checkbox" name="description" value="company">
                                <label for="wordpress1"> WordPress</label>
                            </span>
                            <span class="wt-checkbox">
                                <input id="graphic1" type="checkbox" name="description" value="company">
                                <label for="graphic1"> Graphic Design</label>
                            </span>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="wt-widget wt-effectiveholder">
            <div class="wt-widgettitle">
                <h2>Freelancer Type</h2>
            </div>
            <div class="wt-widgetcontent">
                <form class="wt-formtheme wt-formsearch">
                    <fieldset>
                        <div class="wt-checkboxholder">
                            <span class="wt-checkbox">
                                <input id="proindependent" type="checkbox" name="description" value="company" checked>
                                <label for="proindependent">Pro Independent Freelancers</label>
                            </span>
                            <span class="wt-checkbox">
                                <input id="proagency" type="checkbox" name="description" value="company">
                                <label for="proagency"> Pro Agency Freelancers</label>
                            </span>
                            <span class="wt-checkbox">
                                <input id="independent" type="checkbox" name="description" value="company">
                                <label for="independent"> Independent Freelancers</label>
                            </span>
                            <span class="wt-checkbox">
                                <input id="agency" type="checkbox" name="description" value="company">
                                <label for="agency">Agency Freelancers</label>
                            </span>
                            <span class="wt-checkbox">
                                <input id="rising" type="checkbox" name="description" value="company">
                                <label for="rising"> New Rising Talent</label>
                            </span>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </aside>
</div>